body {
    font-family: arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button {
    padding: 10px 24px;
    border-radius: 8px;
    transition-duration: 0.4s;
    opacity: 0.8;
}

button:hover {
    opacity: 1.0;
}

.start-stop {
    background-color: #5dade2;
}

.edit {
    background-color: #eb984e;
    width: 50%;
}

.delete {
    background-color: #ec7063;
    width: 50%;
}

#new {
    background-color: #58d68d;
    float: right;
}

#new-task {
    padding-top: 50px;
}