body {
    font-family: arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-break: break-all;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button {
    padding: 10px 24px;
    border-radius: 8px;
    transition-duration: 0.4s;
    opacity: 0.8;
}

button:hover {
    opacity: 1.0;
}

#start, #new-task-button {
    background-color: #58d68d;
    border-color: #58d68d;
    width: 33%;
}

#delete { 
    background-color: #ec7063;
    border-color: #ec7063;
}

#complete {
    background-color: #5dade2;
    border-color: #5dade2;
}

#stop, #cancel-task-button {
    background-color: #ec7063;
    border-color: #ec7063;
    width: 33%;
    /* margin-left: 10px; */
}

#reset {
    background-color: #eb984e;
    border-color: #eb984e;
    width: 33%;
}

/* #new-cancel-button {
    background-color: #58d68d;
    border-color: #58d68d;
    float: right;
}

#new-task-section {
    padding-top: 50px;
}

#sub {
    background-color: #5dade2;
    border-color: #5dade2;
} */